{% extends 'base.html.twig' %}

{% block title %}Editer la cicle{% endblock %}

{% block content %}
    <h1>Editer la cible</h1>

    {{ include('targets/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
<br>
    <a class="btn btn-primary" href="{{ path('app_targets_index') }}">Retour</a>
{% endblock %}
