<form method="post" action="{{ path('app_agents_delete', {'id': agents.id}) }}" onsubmit="return confirm('Etes vous sûre de vouloir supprimer cet agent ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ agents.id) }}">
    <button class="btn btn-secondary custom-button">Supprimer</button>
</form>