{% extends 'base.html.twig' %}

{% block title %}Modifier l'agent{% endblock %}

{% block content %}
    <h1>Modifier l'agent</h1>

    {{ include('agents/_form.html.twig', {'button_label': 'Update'}) }}
<br>
    <a class="btn btn-primary" href="{{ path('app_agents_index') }}">Retour</a>
{% endblock %}
