{% extends 'base.html.twig' %}

{% block title %}Nouvel Agent{% endblock %}

{% block content %}
    <h1>Créer un agent</h1>

    {{ include('agents/_form.html.twig') }}

    <a href="{{ path('app_agents_index') }}">Retour</a>
{% endblock %}
