{% extends 'base.html.twig' %}

{% block title %}Spy Missions Management {% endblock %}

{% block content %}


<div class="example-wrapper">
    <div class="missionsSection" id="missionsSection">


    </div>
{% endblock %}

