{% extends 'base.html.twig' %}

{% block title %}Edit Missions{% endblock %}

{% block content %}
    <h1>Modifier</h1>

    {{ include('missions/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
<br>
    <a class="btn btn-primary" href="{{ path('app_missions_index') }}">Retour</a>

{% endblock %}
