{% extends 'base.html.twig' %}

{% block title %}Planques
{% endblock %}

{% block content %}
	<h1>Modifier une planque</h1>

	{{ include('hide_out/_form.html.twig', {'button_label': 'Update'}) }}
	<br>
	<a class="btn btn-primary" href="{{ path('app_hide_out_index') }}">retour</a>
{% endblock %}
