{% extends 'base.html.twig' %}

{% block title %}Modifier le contact{% endblock %}

{% block content %}
    <h1>Modifier le contact</h1>

    {{ include('contacts/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
<br>
    <a class="btn btn-primary" href="{{ path('app_contacts_index') }}">Retour</a>
{% endblock %}
