{% extends 'base.html.twig' %}

{% block title %}Nouveau Contact{% endblock %}

{% block content %}
    <h1>Créer un contact</h1>

    {{ include('contacts/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_contacts_index') }}">Retour</a>
{% endblock %}
